@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap');

body{
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    max-width: 375px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px black;
}

img{
    padding: 20px;
    border-radius: 35px;

}

.heading span{
    background-color: hsl(47, 88%, 63%);
    padding: 0.4rem;
    display: inline-block;
    margin: -40px 20px;
    border-radius: 10px;
}

.heading p{
    padding: 0px 20px;
}

.description h1{
    font-size: 27px;
    color: black;
}

.description{
    padding: 0px 20px;
    color: hsl(0, 0%, 42%);
}

.footer{
    display: flex;
    align-items: center;
}

.footer img{
    width: 30px;
}

@media (min-width: 1440px){
    width: 600px;
}
